
# generated
.netrwhist
.zcompdump
zsh/.zsh_history
zsh/.zsh_sessions/

# private
.npmrc
forge/

# things i don't care to track
.android/
cagent/
coderv2/
composer/
configstore/
gh/
JetBrains/
pip/
swiftpm/
